language: node_js
node_js:
  - "9"
  - "8"
  - "7"
cache:
  yarn: true
  directories:
    - "node_modules"
sudo: enabled
before_install:
  - sudo add-apt-repository -y ppa:ethereum/ethereum
  - sudo apt-get update
  - sudo apt-get install -y solc
script:
  - yarn test
after_script:
  - yarn coverage && cat coverage/lcov.info | coveralls
